html{
  background-image: url('https://miowo.github.io/cutestudy.github.io/images/overlay.gif');
  /*background-repeat: no-repeat;
  background-size: cover;*/
  background-color: white;
}

.slide-one,.slide-two,.slide-three{
  background: #ffe6ee;
  margin: 0px 150px;
  position: center;


  border: solid 5px;
  border-color: white;
  border-radius: 5px;

  width: 970px;
}
/*horizontal scrolling*/
.wrapper{
  display: flex;
  flex-direction: row;
  width: 300vw;
}

.slide-two{

}

/***--------------****/

.panel{
  height: 100%;
  width: 48px;
  background-color: #ffe6ee;
  border-top: 5px solid;
  border-color: white;
}

/*styling the navigation*/

nav ul{
  list-style: none;
  margin: 0px;
  padding: 0;
}

nav ul li{
  float: left;
}

nav ul li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  height: 22px;
  font-size: 17px;
  font-weight: 20px;
  border-left: solid 0.25px;
}

nav ul li a:hover{
  background-color: #ffd1dc;
}

#start{
  background-color:  #ffd1dc;
}

/***Styling main body***/

.profile{
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  width: 970px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

#topHeader{
  padding: 15px 15px;
  border-bottom: solid 2px;
  font-size: 15px;
  background-color: #ffd1dc;
  width: auto;
}

#topHeader a{
  text-decoration: none;
  color: white;
}

#topHeader a:hover{
  color: #ffe6ee;
}

#leftProfile{
  width: 300px; /*fixed width may cause issues in responsive web*/
  height:680px;
  border-right: 2px solid;
  background-color: #ffd1dc;
  display: inline-block;
  float: left;
}

#leftProfile img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 30px 50px;
}

#leftProfile h1{
  font-size: 30px;
  padding-left: 25%;
  color: white;
}

#leftProfile h4{
  padding-left: 30%;
}

#leftProfile p{
  padding-left: 24%;
}

#leftProfile a{
  text-decoration: none;
  color: white;
}

#leftProfile a:hover{
  color: #ffe6ee;
}

#mainProfile{
  width: 668px;
  float: right;
  display: inline-block;
}

#mainProfile p{
  padding-left: 10px;
}

.footer{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
  text-align: right;
  background-color: #ffd1dc;
  border-top: 2px solid white;
  color: white;
  padding: 5px 5px;
}

/****BELOW IS THE STYLING OF THE BUTTONS****/
.onclick{
  padding-left: 20px;
}

.onclick button{
  border: none;
  outline: none;
  background-color: #ffe6ee;
}

.onclick button:hover{
  background-color: #ffd1dc;
}

.onclick button label{
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

/****STYLING THE DIVS FOR ONCLICK EVENTS****/

.playlist {
  background-color: white;
  height: 300px;
  width: 300px;

  position: absolute;
  top: 170px;
  left: 540px;

  border-radius: 10px;
  display: none;
}

.playlist iframe{
  position: absolute;
  border-collapse: separate;
  border-radius: 10px;
}

.to-do{
  background-color: #fff;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  top: 170px;
  left:860px;
  display: none;
  border-color: #ffd1dc;
}

.to-do header{
  font-size: 20px;
  color: #ffd1dc;
  padding: 20px 10px;
  border-bottom: 1px solid #ffd1dc;
}

.to-do label, .to-do p{
  color: #ffd1dc;
  font-size: 15px;
}

.container{
  display: flex;
  align-items: center;
}

/*styling the checkbox*/
input[type="checkbox"] {

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #ffe6ee;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #ffe6ee;
  width: 0.75em;
  height: 0.75em;
  transform: rotate(45deg);
}

input[type="checkbox"]:before{
  position: absolute;
  content: "";
  background-color: #ffe6ee;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:after{
  position: absolute;
  content: "";
  background-color: #ffe6ee;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 20%;
  right: 78%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after{
  background-color: #ffd1dc;
}

/*STYLING BREAK BODY*/
.body{
  height:680px;
  width: 100%;
}
